
<div class="text-center">
    <h1 class="display-4">Gonzalez Mauricio</h1>
    <h2 class="m-1">Developer</h2>
    <img id="profile_photo" src="~/img/profile_photo_01.jpg" />
</div>
<div class="row justify-content-center text-center text-white bg-dark">
    <div class="col col-md-8 seccion-bienvenida m-5">
        <h1 class="text-center"> Portfolio</h1>
        <p>Soy un Desarrollador .Net productivo con sólida base en desarrollo web. </p>
        <p>Poseo experiencia en programación web utilizando JS en Front y C# en Back, entre mi stack de habilidades se encuentran ASP.NET Core y SQL Server. </p>
        <p>Estoy en búsqueda de ambientes que propongan desafíos, oportunidades y herramientas para crecer a nivel personal y profesional </p>

    </div>
</div>