@using Portfolio.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjectDTO;


<h1>@Model.Titulo</h1>
<p>@Model.Descripcion</p>
@*@foreach (var tech in Model.UsedTecnologiesArray)
{
<td>@tech</td>

}*@

