
@model IEnumerable<ProjectDTO>
@{
    ViewData["Title"] = "Proyectos";

}

<div class="container">
    <h1> Mis Proyectos</h1>
    <p> Aqui puedes ver todos mis proyectos</p>
</div>
<partial name="_ProjectList" model="Model" />
